body {
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #7a8aac, #b4c5ff);
}

div {
    border: 2px solid #1f1bff;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 12px 10px #555555;
}

#principal {
    width: 50px;
    float: left;
    border-radius: 50%;
}

div.especial h3 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 10px 5px #999;
}
